body{
  margin: 0;
  padding: 0;
  background-color: #373838;
}
.jumbotron{
  display: block;
  background-color:#373838;
  color: #fdfdfd;
}
h1{
  text-align: center;
}
hr{
  color: #fdfdfd;
}

img{
  width: 1.2rem;
}